@import url("https://fonts.googleapis.com/css?family=Playfair+Display:700&display=swap");
@font-face {
  font-family: 'Gilroy Bold';
  src: url("../fonts/Gilroy-Bold.eot");
  src: url("../fonts/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy Regular';
  src: url("../fonts/Gilroy-Regular.eot");
  src: url("../fonts/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body, div, dl, dt, dd, ul, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img, abbr {
  border: 0;
}

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

ul li {
  list-style: none;
}

caption, th {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

legend {
  color: #000;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus {
  outline: none;
}

iframe,
figure {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  margin: 0;
  padding: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Gilroy Regular', sans-serif;
  font-size: 1.6rem;
  margin: 0;
  color: #2E3747;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  margin-bottom: 1rem;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 30px;
  padding-right: 30px;
}

@media screen and (max-width: 780px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.container-full {
  padding-left: 30px;
  padding-right: 30px;
}

@media screen and (max-width: 780px) {
  .container-full {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.img-wrapper img {
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 100%;
  height: 100%;
  width: 100%;
}

img {
  color: transparent;
}

.burger {
  cursor: pointer;
  -webkit-transition: -webkit-transform 400ms;
  transition: -webkit-transform 400ms;
  transition: transform 400ms;
  transition: transform 400ms, -webkit-transform 400ms;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 50;
}

.burger .line {
  fill: none;
  -webkit-transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #fff;
  stroke-width: 5;
  stroke-linecap: round;
}

.burger .top {
  stroke-dasharray: 40 82;
}

.burger .middle {
  stroke-dasharray: 40 111;
}

.burger .bottom {
  stroke-dasharray: 40 161;
}

.burger.active .top {
  stroke-dasharray: 17 82;
  stroke-dashoffset: -62px;
}

.burger.active .middle {
  stroke-dashoffset: 23px;
}

.burger.active .bottom {
  stroke-dashoffset: -83px;
}

.burger.active {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.block {
  display: block;
}

.text-center {
  text-align: center;
}

.primary {
  color: #FFC700;
}
/*# sourceMappingURL=style.css.map */