//import Fonts
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:700&display=swap');

@font-face {
    font-family: 'Gilroy Bold';
    src: url('../fonts/Gilroy-Bold.eot');
    src: url('../fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Bold.woff') format('woff'),
    url('../fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gilroy Regular';
    src: url('../fonts/Gilroy-Regular.eot');
    src: url('../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Gilroy-Regular.woff') format('woff'),
    url('../fonts/Gilroy-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

// 12 column grid
@import 'partials/smart-grid';
// Normalize
@include reset();

//Mixins
@mixin primaryFont {
    font-family: 'Gilroy Regular', sans-serif;
}
@mixin primaryFontBold {
    font-family: 'Gilroy Bold', sans-serif;
    font-weight: bold;
}
@mixin headingFont {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
}

//Vars
$primary: #FF527D;
$secondary: #85CB33;

$white: #fff;
$black: #4C4C54;

// Base
*,
*:before,
*:after {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

iframe,
figure {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    @include primaryFont;
    font-size: 1.6rem;
    margin: 0; 
    color: $black;
    overflow-x: hidden;
    @include md-block() {
        margin-bottom: 5rem;
    }
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5 {
    @include headingFont;
    margin-bottom: 1rem;
}

h2,
.h2 {
    font-size: 4.6rem;
    margin-bottom: 2rem;
    &.h2-primary {
        position: relative;
        display: inline-block;
        margin: auto;
        margin-bottom: 7rem;
        &:before,
        &:after {
            content: '';
            display: inline-block;
            position: absolute;
            background-color: $primary;
            width: 1.1rem;
            height: 1.1rem;
            border-radius: 50%;
            opacity: 0;
            transition: .6s ease-in;
        }
        &:before {
            top: -1rem;
            left: 0;
        }
        &:after {
            right: 0;
            bottom: -2rem;
        }
        &.active,
        &:hover {
            &:before,
            &:after {
                opacity: 1;
                transition: .6s ease-out;
            }
            &:before {
                left: 100%;
                transform: translateX(-100%);
            }
            &:after {
                right: 100%;
                transform: translateX(100%);
            }
        }
    }
    @include md-block() {
        font-size: 3rem;
        &.h2-primary {
            margin-bottom: 5rem;
        }
    }
}

h3,
.h3 {
    font-size: 28px;
    
}

.container {
    @include wrapper();
}

.container-full {
    @include wrapper-full();
}

.img-wrapper img {
    object-fit: cover;
    max-height: 100%;
    height: 100%;
    width: 100%;
}

img {
    color: transparent;
}

::selection {
    background: #ffb7b7;
}
::-moz-selection {
    background: #ffb7b7; /* Firefox */
}

// AOS Custom animations
[data-aos="h2-animation"] {
    &:before,
    &:after {
        content: '';
        display: inline-block;
        position: absolute;
        background-color: $primary;
        width: 1.1rem;
        height: 1.1rem;
        border-radius: 50%;
        opacity: 0;
        transition: .6s ease-in;
    }
    &:before {
        top: -1rem;
        left: 0;
    }
    &:after {
        right: 0;
        bottom: -2rem;
    }
  
    &.aos-animate {
        &:before,
        &:after {
            opacity: 1;
            transition: .6s ease-out;
        }
        &:before {
            left: 100%;
            transform: translateX(-100%);
        }
        &:after {
            right: 100%;
            transform: translateX(100%);
        }
    }
}

// Buttons
.btn {
    @include primaryFontBold;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: $white;

    border-radius: 7rem;
    border: 5px solid $white;
    box-shadow: 0 0 0 1px $secondary;

    padding: 1.7rem 2rem; 
    margin-bottom: 1rem;
    background: linear-gradient(180deg, #ACE769 0%, #85CB33 100%);
    
    transition: .3s;
    &:hover {
        background: linear-gradient(180deg, #85CB33 0%, #ACE769 100%);
    }
    &:active {
        transform: scale(.95);
    }

    &.icon-plane,
    &.icon-whatsapp {
        position: relative;
        padding: 1.2rem 2rem; 
        &:before {
            content: '';
            display: inline-block;
            vertical-align: middle;
            height: 28px;
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat; 
            margin-right: 1rem;          
        }
    }
    &.icon-plane {  
        &:before {
            width: 37px;
            background-image: url('../img/icons/telegram-icon.svg');
        }
    }
    &.icon-whatsapp {    
        &:before {
            width: 28px;
            background-image: url('../img/icons/whatsapp-icon.svg');
        }
    }
}

//Navbar
.navbar {
    background-color: $white;
    font-size: 1.4rem;
    .navbar__row {
        min-height: 9vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .info-block {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: center;
            @include md-block() {
                display: none;
            }
        }
        @include md-block() {
            min-height: unset;
            .logo {
                display: none;
            }
        }
    }
}
.logo {
    display: flex;
    align-items: center;

    padding: 1rem;
    transition: .3s ease-in-out;
    &__img {
        width: 7.5rem;
        height: 7.5rem;
    }
    &__text {
        font-size: 1.8rem;
        display: inline-block;
        max-width: 14rem;   
        margin-left: 1rem;
    }
    &:hover {
        opacity: .8;
    }
}
.menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
   
    li {
        display: flex;
        align-items: center;
        margin-right: 3rem;
        text-transform: uppercase;
        position: relative;

        @include primaryFontBold;

        &:after {
            content: '';
            display: inline-block;
            height: 5vh;
            width: 1px;
            background: #E5E5E5;
            transform: rotate(15deg);
            margin-left: 3rem;
        }
        &:last-child {
            &:after {
                display: none;
            }
        }
    }   
    a {
        position: relative;
        svg path {
            fill: $black;
        }
        &:before,
        &:after {
            content: '';
            display: inline-block;
            position: absolute;
            background-color: $primary;
            width: 1.1rem;
            height: 1.1rem;
            border-radius: 50%;
            opacity: 0;
            transition: .6s ease-in;
        }
        &:before {
            top: -1.5rem;
            left: 0;
        }
        &:after {
            right: 0;
            bottom: -1.5rem;
        }
        &.active,
        &:hover {
            svg path {
                fill: $primary;
            }
            color: $primary;
            &:before,
            &:after {
                opacity: 1;
                transition: .6s ease-out;
            }
            &:before {
                left: 100%;
                transform: translateX(-100%);
            }
            &:after {
                right: 100%;
                transform: translateX(100%);
            }
        }
    }
    svg,
    span {
        vertical-align: middle;
    }
    svg {
        margin-right: 1rem;
    }
    @include md-block() {
        align-items: center;
        justify-content: space-between;
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 1rem;
        background-color: $white;    
        box-shadow: -1px 3px 5px 3px rgba(0, 0, 0, .3);
        z-index: 100;
        li {
            margin: 0.5rem;
            &:after {
                display: none;
            }
        }
        a {
            &:before,
            &:after {
               display: none;
            }
        }
    }
}
.small {
    font-size: 1.2rem;
}
.phone-link {
    @include primaryFontBold;
    color: $primary;
    font-size: 2rem;
}
.link {
    color: $primary;
    border-bottom: 1px solid $primary;
    &:hover {
        border-color: transparent;
    }
}

// header
.main-card {
    position: relative;
    border-radius: 2rem;
    transform: skewY(-3deg);
    background-color: $white;
    box-shadow: 0px 15px 34px rgba(0, 0, 0, 0.16);
    
    .unset-skew {
        transform: skewY(3deg);
        text-align: center;
    }
    .head {
        border-bottom: 1px solid #E5E5E5;
        padding: 4rem 4rem 3rem;
        .h2 {
            margin-bottom: 0;
        }
    }
    .body {
        padding: 3rem 4rem 4rem 4rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .foot {
        border-top: 1px solid #E5E5E5;
        padding: 3.7rem 4rem 4.8rem 4.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .title {
        font-size: 2.2rem;
        margin-bottom: 2rem;
        .primary {
            display: block;
            @include primaryFontBold;
        }
    }
    .petal-top {
        top:0;
        right: 0;
        transform: translate(50%, -50%);
    }
    .petal-bottom {
        bottom: 2rem;
        left: 0;
        transform: translateX(-50%);
    }
}
header {
    position: relative;
    background: #F1F1F1 url('../img/header-bg.jpg') center / cover no-repeat;
    min-height: 91vh;
    z-index: 1;
    padding-bottom: 5rem;
    .petal-header {
        position: absolute;
        bottom: 0;
        left: 27%;
        transform: translateY(40%);
        @include md-block() {
            display: none;
        }
    }
    @include md-block() {
        background-color: #efefef;
        background-position: 38% 0;
        background-size: 520%;
        min-height: 100vh;
    }
    .overlay {
        background-color: #fff9fb;
        opacity: 0;
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        z-index: -1;
        transition: 1s;
        @include md-block() {
            opacity: .3;
        }
    }
    .row {
        @include row-flex();
        padding-top: 10vh;
        
        .column-left {
            @include col();
            @include size(6);
            @include size-md(12);
        }
        .column-right {
            @include col();
            @include shift-left(2);
            @include size(4);

            @include size-md(12);
            @include shift-md-left(0);

            display: flex;
            justify-content: flex-end;
            align-items: center;

            @include md-block() {
                width: 100%;
                margin-right: 0;
                margin-left: 0;
            }

            .main-card {
                width: 100%;
                min-width: 35rem;
                
                .body {
                    padding: 5rem 4rem 2rem 4.5rem;
                }
                @include md-block() {
                    margin-top: 6rem;
                    min-width: unset;
                    .body {
                        padding: 4rem 3rem 2rem 3rem;
                    }
                    .foot {
                        padding: 2.7rem 3rem 4rem 3rem;
                    }
                }
            }
        }
    }
    h1 {
        font-size: 6.5vh;
        margin-bottom: 3rem;
        text-shadow: 0px 3px 0px $white;
        @include md-block() {
            font-size: 11vw;
        }
    }
    ul {
        margin-bottom: 10vh;
        @include md-block() {
            text-shadow: 0px 2px 0px $white;
        }
    }
    .svg-text {
        margin-bottom: 1rem;
    }
}
#lottie-smile {
    width: 15rem;
    height: 15rem;
    margin: -12rem auto 0;
    @include md-block() {
        width: 10rem;
        height: 10rem;
        margin-top: -8rem;
    }
}
.social-links {
    &__link {
        border-radius: 50%;
        display: inline-block;
        transition: .3s;
        &:hover {
            transform: scale(1.05);
        }
        &:active {
            transform: scale(.9);
        }
    }
}
ul.primary-ul {
    li {       
        margin-bottom: 2rem;
        @include primaryFontBold;
        &:before {
            vertical-align: middle;
            width: 3.4rem;
            height: 3.4rem;
            content: '';
            display: inline-block;
            margin-right: 1.5rem;
            background: url('../img/icons/ul-icon.svg') center / contain no-repeat;
        }
    }
}
.with-arrow {
    position: relative;
    &:after {
        content: url('../img/icons/arrow-to-social.svg');
        display: inline-block;
        transform: translateY(60%);
        margin-left: .5rem;
    }
}

// Second section
.section {
    text-align: center;
}
.card-primary {
    border-radius: 2rem;
    position: relative;
    z-index: 0;
    margin-bottom: 2rem;     
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background-color: $primary;
        width: 100%;
        height: 100%;
        transform: rotate(4deg);
        border-radius: inherit;
        z-index: -1;
    }
    img {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);   
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: inherit; 
    }
}
.mobile-link {
    display: none;
    @include md-block() {
        display: inline-block;
    }
}
#features {
    background: $white url('../img/squares-bg.jpg') center / contain no-repeat;
    padding: 10rem 0;
    margin-top: 5rem;
    @include md-block() {
        padding: 5rem 0;
        margin: 0;
    }
}
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -1.5rem;
    @include md-block() {
        justify-content: center;
    }
}
.card-wrapper {
    flex: 1 1 20rem;
    max-width: 37rem;
    margin: 1.5rem 1.5rem 3rem 1.5rem;
    text-align: center;
}
#photos {
    padding-top: 5rem;
    .photo-groups {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .photo-group {
            flex: 1 1 18rem;
            .img-wrapper {
                padding-top: 126%;
                position: relative;
                margin-bottom: 3rem;
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }
            }
            .hover-content {
                opacity: 0;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba($primary, .8);

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                color: $white;
                @include primaryFontBold;

                transition: .3s ease-in-out;

                .icon {
                    width: 13rem;
                    height: 13rem;
                    border-radius: 50%;
                    background-color: #fff;
                    box-shadow: 0 0 0 1px $white;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: relative;
                    margin-bottom: 4rem;
                    &:before {
                        content: '';
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        border: 1px solid $white;
                        padding: 2rem;
                        border-radius: inherit;
                        box-sizing: content-box;
                    }
                    .eye {
                        width: 7rem;
                    }
                }
            }
            &:hover {
                .hover-content {
                    opacity: 1;
                }
                .h3 {
                    color: $primary;
                    transition: .3s ease-in-out;
                }
                .icon {
                    &:before {
                        animation: pulseAnimation 1s infinite;
                    }
                }
            }
            @include md-block() {
                .h3 {
                    font-size: 1.8rem;
                } 
            }
            @include sm-block() {
                margin: 1rem;
                max-width: 20rem;
                .img-wrapper{
                    margin-bottom: 1rem;
                    padding-top: 105%;
                    position: relative;
                    z-index: 0;
                    border-radius: 1rem;
                    img {
                        border-radius: inherit;
                        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    }
                    &:before {                       
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        background-color: $primary;
                        width: 100%;
                        height: 100%;
                        transform: rotate(5deg);
                        border-radius: inherit;
                        z-index: -1;
                        opacity: .5;
                        transition: .3s;
                    }
                }
                .hover-content {
                    border-radius: inherit;
                    .icon {
                        width: 7rem;
                        height: 7rem;
                        margin-bottom: 1rem;
                        .eye {
                            width: 4rem;
                        }
                    }
                    font-size: 1.2rem;
                }
            }
            @include xs-block() {
                flex: 1 1 11rem;
            }
        }
        @include sm-block() {
            margin: 0.5rem;            
            justify-content: center;
        }
    }
}
@keyframes pulseAnimation {
    from {
        padding: 1rem;
    }
    to {
        padding: 4rem;
        opacity: 0;
    }
}
#prices {
    position: relative;
    padding-bottom: 8rem;
    padding-top: 14rem;
    @include sm-block() {
        padding-top: 7rem;
        padding-bottom: 5rem;
    }
    .price-card {
        position: relative;
        max-width: 100%;
        width: 77rem;

        margin: auto;
        margin-bottom: 5rem;
        padding: 6rem;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        background-color: $white;
        box-shadow: 0px 5px 16px rgba(0, 0, 0, 0.25);
        border-radius: 3rem;
        &:before {
            content: '';
            background: $primary;
            border-radius: inherit;
            transform: rotate(2deg);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
        .h2 {
           margin-top: 1rem;
        }
        .btn {
            max-width: 100%;
            width: 37rem;
        }
        @include sm-block() {
            padding: 5rem 3rem;
            .btn {
                font-size: 1.2rem;
            }
        }
        .petal-top {
            top: 3rem;
            right: 5.3rem;
            transform: translateY(-50%);
        }
        .petal-bottom {
            bottom: 6.5rem;
            left: 0;
            transform: translateX(-50%);
        }
    }

    .fern {
        position: absolute;
        top: 35%;
        z-index: 1;
        transition: .6s ease-in-out;

        &-left,
        &-left-blured {
            left: 0;
            transform: translateY(-50%);
        }
        &-left {
            &-blured {
                top: 70%;
            }
        }

        &-right,
        &-right-blured {
            right: 0;
            transform: translateY(-50%) scaleX(-1);
        }
        &-right {
            &-blured {
                top: 70%;
            }
        }
        @media (max-width: 1800px) {
            display: inline-flex;
            &-right,
            &-left {
                img {
                    width: 33vw;
                }
            }
            &-right-blured,
            &-left-blured {
                top: 40vw;
                img {
                    width: 20vw;
                }
            }
        }
        &.active {
            &.fern-left,
            &.fern-left-blured {
                transform: translateY(-50%) translateX(-25%) rotate(-25deg);
            }
            &.fern-right,
            &.fern-right-blured {
                transform: translateY(-50%) scaleX(-1) translateX(-25%) rotate(-25deg);
            }
        }
        @include lg-block() {
            display: none;
        }
    }
}
.petal-top,
.petal-bottom {
    position: absolute;
    @include md-block() {
        display: none;
    }
}
ul.list {
    max-width: 100%;
    width: 37rem;
    margin-bottom: 3rem;
    li {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 2rem 0;
        @include primaryFontBold;
       
        border-bottom: 1px solid #E5E5E5;
        &:first-child {
            border-top: 1px solid #E5E5E5;
        }
    }
}
.communication-block {
    max-width: 100%;
    width: 58.5rem;
    margin: auto;
    .btns {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: -.5rem;
        .btn {
            display: inline-block;
            margin: 0.5rem;
            flex: 1 1 20rem;
        }
    }
    .foot {
        display: flex;
        flex-direction: column;
        margin-top: 3rem;
        padding-top: 3rem;
        border-top: 1px solid #E5E5E5;
    }
}
#discounts {
    padding: 14rem 0;
    position: relative;

    background-color: #F2F3F5;
    background-position: left center;
    background-size: cover;
    background-repeat: no-repeat;

    @include md-block() {
        background: #F2F3F5!important; //!important because img init from html
        padding: 7rem 0 5rem;
    }
    .big-petals {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);    
        @media (max-width: 1600px) {
            width: 40%;
        }
        @include lg-block() {
            display: none;
        }
    }
}
.discounts {
    @include row-flex();
    justify-content: center;

    &__card {
        @include col();
        @include size(4);
        @include size-md(12);

        position: relative;
        max-width: 37rem;
        min-height: 26rem;
        padding: 2rem;
        margin-bottom: 3rem;
        z-index: 1;
        text-align: left;
        border-radius: 1rem;
        background-color: #F2F3F5;
        box-shadow: 0px 15px 34px rgba(0, 0, 0, 0.16);

        @include primaryFontBold;
        color: $white;

        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .bg-image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: inherit;
            z-index: -1;
            object-fit: cover;
            object-position: center;
        }
        .title {
            font-size: 2.6rem;
        }
        .subtitle {
            font-size: 1.4rem;
        }
        .discount-size {
            margin-top: auto;
            margin-bottom: 6rem;
            position: relative;
            @include headingFont;
            font-size: 5.8rem;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            display: inline-block;
            &:before,
            &:after {
                content: '';
                display: inline-block;
                z-index: -1;
                transform: translate(-50%,-50%);
                border-radius: 50%;
                width: 7.15rem;
                height: 7.15rem;
                position: absolute;
                top:60%;
                left: 50%;
                animation: discountAnimation 1s .5s infinite alternate;
            }
            &:before {             
                background-color: $primary;              
            }
            &:after {
                box-sizing: content-box;
                padding: 1rem;
                border: 4px solid $white;
                opacity: .2;
                animation: discountAnimation 1s infinite alternate;
            }
            @keyframes discountAnimation {
                from {
                    transform: translate(-50%,-50%) scale(1);
                }
                to {
                    transform: translate(-50%,-50%) scale(1.1);
                }
            }
        }
    }
}
#our-studio {
    padding: 14rem 0 8rem 0;

    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
    .cards {
        margin-bottom: 0;
    }
    @include md-block() {
        padding: 7rem 0 5rem 0;
    }
}
#footer {
    overflow: hidden;

    position: relative;
    padding: 6rem 0 5rem;
    .main-card {
        @include col();
        @include size(5);
        @include size-md(12);

        text-align-last: left;

        .head {
            border-bottom: 1px solid #E5E5E5;
            padding: 4rem 5rem 3rem;
            .h2 {
                margin-bottom: 0;
            }
        }
        .body {
            padding: 3rem 5rem 4rem;
        }     
        .petal-top {
            top: 5rem;
        }
    }
    .with-icon {
        @include primaryFontBold;
        font-size: 1.6rem;
        margin-bottom: 2.5rem;
        &:before {
            content: '';
            display: inline-block;
            width: 2.8rem;
            height: 2.8rem;
            margin-right: 1rem;
            vertical-align: middle;

            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }
        &.map-icon:before {
            background-image: url('../img/icons/map.svg');
        }
        &.phone-icon:before {
            background-image: url('../img/icons/phone.svg');
        }
        &.info-icon:before {
            background-image: url('../img/icons/info.svg');
        }
    }
    .row {
        display: flex;
        justify-content: space-around;
        .bus-i {
            height: 5.4rem;
            margin-bottom: 0.5rem;
        }
        .bold {
            margin-bottom: 0.5rem;
        }
        li {
            font-size: 1.4rem;
        }
    }
    @include sm-block() {
        padding-bottom: 10rem;
        .main-card {
            width: 100%;
            margin: 0;
            .body,
            .foot {
                padding-left: 3rem;
                padding-right: 3rem;
            }
        }
        .with-icon { 
            font-size: 1.3rem;
            margin-bottom: 1.5rem;
            &:before {
                width: 2rem;
                height: 2rem;
            }
        }
    }
}
#map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

//Youtube
.youtube-wrapper {
    max-width: 77rem;
    margin: auto;
    margin-top: 2rem;
}
.youtube {
    position: relative;
    padding-top: 56.4%;
    @include xs(height, 190px);
    box-shadow: 0px 10px 20px rgba(155, 155, 155, 0.35);

    border-radius: 3rem;
    margin-bottom: 8rem;
    background: linear-gradient(206.09deg, rgba(53, 66, 224, 0.65) -46.07%, rgba(56, 65, 223, 0.65) -22.81%, rgba(64, 63, 218, 0.65) -8.68%, rgba(78, 60, 210, 0.65) 3.03%, rgba(99, 55, 199, 0.65) 13.4%, rgba(125, 49, 185, 0.65) 22.9%, rgba(158, 42, 168, 0.65) 31.75%, rgba(195, 33, 147, 0.65) 39.95%, rgba(200, 32, 145, 0.65) 40.84%, rgba(246, 43, 55, 0.65) 60.35%, rgba(255, 198, 88, 0.65) 94.22%), url(vlcsnap-2020-01-16-13h19m17s913.png), #000;
    cursor: pointer;
    
    
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: center;
        opacity: .3;
        transition: .6s;
        border-radius: inherit;
        position: absolute;
        top: 0;
        left: 0;
    }
    iframe {
        width: 100%;
        height: 100%;
        border-radius: inherit;
        position: absolute;
        top: 0;
        left: 0;
    }
    .play-button {
        width: 13rem;
        height: 13rem;
        background-color: $white;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
        transition: .3s ease-in;
        object {
            transform: translateX(6px);
            cursor: pointer;
            transition: .2s ease-in-out;
            max-width: 90%;
        }
        @include sm-block() {
            width: 8rem;
            height: 8rem;
            object {
                width: 4rem;
            }
        }
        &:before,
        &:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;   
            box-sizing: content-box;
            background-color: $white;
            border-radius: 50%;
            opacity: .2;
            transition: .3s ease-in-out;
            
        }
        &:before {
            animation: scalingBig 1.5s infinite alternate;
        }
        &:after {
            padding: 1.5rem;
            animation: scaling 1.5s .5s infinite alternate;
        }
        &:hover {  
            object {
                transform: translateX(6px) scale(1.1);
            }     
        }
    }
    &:hover {
        .play-button {
            opacity: 1; 
        }
        img {
            opacity: .7;
        }
    }
    .label {
        position: absolute;
        top: 8vh;
        left: 50%;
        transform: translate(-45%, 0);
        z-index: 1;
    }
    @include sm-block() {
        margin-bottom: 3rem;
        .label {
            display: none;
        }
    }
    @keyframes scaling {
        from {
            transform: scale(1);
        }
        to {
            transform: scale(1.2);
        }
    }
    @keyframes scalingBig {
        from {
            transform: scale(1);
        }
        to {
            transform: scale(1.3);
        }
    }
}

//fancybox
.modal {
    display: none;
    box-shadow: 0px 5px 16px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    padding: 6rem 10rem;
    width: 97rem;
    max-width: 100%;
    background: $white url('../img/modal-bg.jpg') center / cover no-repeat;
    transform: skewY(-1deg);
    
    .content {
        transform: skewY(1deg);
        margin-left: auto;
        width: 37rem;
        max-width: 100%;
        text-align: center;
        min-height: 40rem;
    }
    .h3 {
        margin-bottom: 2rem;
    }
    .subtitle {
        margin-bottom: 3.5rem;
    }
    .btn {
        display: block;
        width: 100%;
        margin-bottom: 5rem;
        &.phone-icon {
            padding-top: .5rem;
            padding-bottom: 0.5rem;
            &:before {
                content: '';
                width: 3.2rem;
                height: 4rem;
                margin-right: 1rem;
                display: inline-block;
                vertical-align: middle;
                background-image: url('../img/icons/phone-in-button.png');
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
            }
        }
    }
    .privacy-link {
        font-size: 1.2rem;
        color: #8C8C8C;
        text-decoration-line: underline;
    }
    @include md-block() {
        .content {
            min-height: 20rem;
            margin: auto;
        }
        padding: 5rem 1.8rem;
        background-position: 100% 100%;
        background-size: 145%;
    }
}
.fancybox-bg {
    background: $white;
    filter: blur(200px);
    @include md-block() {
        filter: none;
    }
}
#thanks-modal {
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
input,
textarea {
    background-color: #f2f2f2;
    border: 1px solid #E0E0E0;
    border-radius: 10rem;
    padding: 1.9rem 3rem;
    color: #8C8C8C;
    margin-bottom: 2rem;
    width: 100%;
    @include md-block() {
      font-size: 1.4rem;
    }
}

// Utilities
.disable-scroll {
    height: 100%;
    overflow: hidden;
}
.compensate-for-scrollbar {
    margin-right: 0!important;
}
.block {
    display: block;
}
.text-center {
    text-align: center;
}
.bold {
    @include primaryFontBold;
}
.primary {
    color: $primary;
}
